<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.AdminMapper">
    <select id="queryAdminByName" resultType="com.baizhi.entity.Admin" parameterType="String">
        select * from admin where name =#{name}
    </select>
</mapper>