<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.AlbumMapper">
    <resultMap id="rm" type="com.baizhi.entity.Album">
        <id column="aid" property="id"/>
        <result column="atitle" property="title"/>
        <collection property="children" ofType="com.baizhi.entity.Chapter">
            <id column="cid" property="id"/>
            <result column="ctitle" property="title"/>
            <result column="csize" property="size"/>
            <result column="cduration" property="duration"/>
            <result column="curl" property="url"/>
            <result column="cdate" property="uploadDate"/>
            <result column="caid" property="albumId"/>
        </collection>
    </resultMap>
    <select id="queryAll" resultMap="rm">
        select a.id aid ,a.title atitle,c.id cid,c.title ctitle,c.size csize ,c.duration cduration,
        c.url curl ,c.upload_date cdate ,c.album_id caid from album a LEFT JOIN chapter c ON
        a.id = c.album_id
    </select>
</mapper>